<!-- /*
* @Author: Zilvia Kam
* @Date:   2019-04-04 17:39:35
* @Last Modified by:   Zilvia Kam
* @Last Modified time: 2019-05-31 16:19:41
*/ -->
<md-dialog aria-label="addEdit" class="set-dialog-wrap">
  <form name="addEdit" ng-cloak autocomplete="off">
    <md-toolbar class="set-dialog-toolbar">
      <div class="md-toolbar-tools">
        <h2 ng-if="action=='add'"><b translate="dialogAdd" translate-value-item="{{'mailNotify'|translate}}"></b></h2>
        <h2 ng-if="action=='edit'"><b translate="dialogEdit" translate-value-item="{{'mailNotify'|translate}}"></b></h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()" aria-label="cancel">
          <i class="fa fa-times fa-lg" aria-hidden="true"></i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="set-dialog-content">
      <div class="md-dialog-content">
        <div class="form-group">
          <label for="licence">{{"notifyItem"|translate}}</label>
          <input type="text" class="form-control" name="notifyItem" ng-model="row.notifyItem" disabled readonly>
        </div>
        <div class="form-group was-validated">
          <label for="sel1">{{"status"|translate}}</label>
          <select class="form-control" id="sel1" ng-model="row.status" name="status" ng-change="validate('status')" required>
            <option value="ON">{{"ON"|translate}}</option>
            <option value="OFF">{{"OFF"|translate}}</option>
          </select>
          <div class="invalid-feedback" ng-show="(attempt||addEdit.status.$dirty||addEdit.status.$touched) && addEdit.status.$error.required">
            {{"statusRequired"|translate}}
          </div>
        </div>
        <div class="form-group dynamic-email-form">
          <label for="licence">{{"email"|translate}}</label>
          <div ng-repeat="email in row.notifyEmail track by $index" class="input-repeater">
            <input type="text" class="form-control" name="email{{$index}}" required ng-model="row.notifyEmail[$index]" ng-model-options="{allowInvalid: true}" ng-maxlength="100" ng-change="validate('email'+$index)" ng-blur="validate('email'+$index)" ng-pattern="emailregex">
            <button type="button" ng-click="deleteMail($index)" class="btn btn-danger">
              <i class="fa fa-minus" aria-hidden="true"></i>
            </button>
            <div class="invalid-feedback" ng-show="addEdit['email'+$index].$error.maxlength" translate="tooLong" translate-value-column="{{'email'|translate}}"></div>
            <div class="invalid-feedback" ng-show="(attempt||action=='edit'||addEdit['email'+$index].$dirty||addEdit['email'+$index].$touched) && (addEdit['email'+$index].$error.required||(!addEdit['email'+$index].$error.required && addEdit['email'+$index].$error.pattern && !addEdit['email'+$index].$error.maxlength))" translate="required" translate-value-column="{{'email'|translate}}"></div>
          </div>
          <div ng-if="!adding" class="add-field">
            <input type="text" class="form-control" name="addemail" ng-model="addemail" ng-model-options="{allowInvalid: true}" ng-maxlength="100" ng-change="validate('addemail')" ng-blur="validate('addemail')" ng-pattern="emailregex">
            <button type="button" ng-click="addEdit.addemail.$valid&&addemail&&addMail(addemail)" class="btn btn-primary">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
            <div class="invalid-feedback" ng-show="addEdit.addemail.$error.maxlength" translate="tooLong" translate-value-column="{{'email'|translate}}"></div>
            <div class="invalid-feedback" ng-show="(addEdit.addemail.$dirty||addEdit.addemail.$touched) && (addEdit.addemail.$error.pattern && !addEdit.addemail.$error.maxlength)" translate="required" translate-value-column="{{'email'|translate}}"></div>
          </div>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" class="set-dialog-content-button">
      <span flex></span>
      <md-button ng-click="cancel()">
        {{"cancel"|translate}}
      </md-button>
      <md-button ng-mousedown="validateForm();addEdit.$valid&&submit(row)">
        {{"ok"|translate}}
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>