<!-- /*
* @Author: Zilvia Kam
* @Date:   2019-04-04 17:39:35
* @Last Modified by:   Zilvia Kam
* @Last Modified time: 2019-05-31 16:19:45
*/ -->
<md-dialog aria-label="addEdit" class="set-dialog-wrap">
  <form name="addEdit" ng-cloak autocomplete="off">
    <md-toolbar class="set-dialog-toolbar">
      <div class="md-toolbar-tools">
        <h2 ng-if="action=='add'"><b translate="dialogAdd" translate-value-item="{{'department'|translate}}"></b></h2>
        <h2 ng-if="action=='edit'"><b translate="dialogEdit" translate-value-item="{{'department'|translate}}"></b></h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()" aria-label="cancel">
          <i class="fa fa-times fa-lg" aria-hidden="true"></i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="set-dialog-content">
      <div class="md-dialog-content">
        <div class="form-group" ng-if="action=='add'">
          <label for="licence">{{"parentdepartment"|translate}}</label>
          <input type="text" class="form-control" name="licenceId" ng-model="row.parentData.parent_descpt" disabled readonly>
        </div>
        <div class="form-group typeahead-demo" ng-if="action=='edit'&&root!==row.id">
          <label for="sel1">{{"parentdepartment"|translate}}</label>
          <input id="typeahead#1" class="form-control" type="text" ng-model="row.parentData" uib-typeahead="item as item.parent_descpt for item in parentList | filter:{parent_descpt:$viewValue}" typeahead-editable="false" typeahead-select-on-exact="true" typeahead-popup-template-url="/view/component/typeahead/typeaheadInput_orgchart.html" typeahead-show-hint="true" typeahead-min-length="0" required name="parentTAH" typeahead-no-results="noResultsparentTAH" ng-keypress="validate('parentTAH')" ng-keydown="typeaheadscroll();validate('parentTAH')" typeahead-on-select="validateSelect('parentTAH')" ng-blur="validate('parentTAH')" ng-trim="false">
          <div class="invalid-feedback-custom" ng-show="noResultsparentTAH && !addEdit.parentTAH.$error.required">
            {{"noDepartmentInList"|translate}}
          </div>
          <div class="invalid-feedback-custom" ng-show="((attempt||addEdit.parentTAH.$dirty||addEdit.parentTAH.$touched) && addEdit.parentTAH.$error.required)||(action=='edit'&&row.parentData.parent_id==null&&addEdit.parentTAH.$error.required)">
            {{"departmentRequired"|translate}}
          </div>
        </div>
        <div class="form-group">
          <label for="department">{{"departmentname"|translate}}</label>
          <input type="text" class="form-control" name="department" required ng-model="row.department" ng-model-options="{allowInvalid: true}" ng-maxlength="20" ng-change="validate('department')" ng-blur="validate('department')">
          <div class="invalid-feedback" ng-show="addEdit.department.$error.maxlength" translate="tooLong" translate-value-column="{{'department'|translate}}"></div>
          <div class="invalid-feedback" ng-show="(attempt||action=='edit'||addEdit.department.$dirty||addEdit.department.$touched) && addEdit.department.$error.required" translate="required" translate-value-column="{{'department'|translate}}"></div>
        </div>
        <div class="form-group">
          <label for="departmentdescpt">{{"departmentdescpt"|translate}}</label>
          <input type="text" class="form-control" name="departmentdescpt" required ng-model="row.descpt" ng-model-options="{allowInvalid: true}" ng-maxlength="50" ng-change="validate('departmentdescpt')" ng-blur="validate('departmentdescpt')">
          <div class="invalid-feedback" ng-show="addEdit.departmentdescpt.$error.maxlength" translate="tooLong" translate-value-column="{{'departmentdescpt'|translate}}"></div>
          <div class="invalid-feedback" ng-show="(attempt||action=='edit'||addEdit.departmentdescpt.$dirty||addEdit.departmentdescpt.$touched) && addEdit.departmentdescpt.$error.required" translate="required" translate-value-column="{{'departmentdescpt'|translate}}"></div>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" class="set-dialog-content-button">
      <span flex></span>
      <md-button ng-click="cancel()">
        {{"cancel"|translate}}
      </md-button>
      <md-button ng-click="validateForm();addEdit.$valid&&submit(row)">
        {{"ok"|translate}}
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>