<!-- /*
* @Author: Zilvia Kam
* @Date:   2019-04-04 17:39:35
* @Last Modified by:   Zilvia Kam
* @Last Modified time: 2019-07-26 13:16:03
*/ -->
<md-dialog aria-label="Video" class="warn-dialog">
    <div class="video">
	    <video id="warn-video" class="video-js vjs-big-play-centered">
	    	<p class="vjs-no-js">
		  		<!-- 如果使用者不支援JavaScript，顯示這段-->
		  		To view this video please enable JavaScript, and consider upgrading to a web browser that
		  		<a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
		  	</p>
	    </video>
    </div>
</md-dialog>