<!-- /*
* @Author: Zilvia Kam
* @Date:   2019-04-04 17:39:34
* @Last Modified by:   Zilvia Kam
* @Last Modified time: 2019-05-31 16:31:16
*/ -->
<div class="error-content-wrap">
	<div class='error-header'>
		<img src="../images/logo-header.png" width="300" height="50" alt="GREENSAFETY">
	</div>
	<div class="error-content">
		<h1><b><i>{{'oop'|translate}}</i></b></h1>
		<h2>{{'pageNotFound'|translate}}</h2>
		<h6><font color="red">{{'errCode'|translate}}: 404</font></h6>
		<a href="https://greensafety.com.hk/" target="_blank"><font>{{'home'|translate}}</font></a>
		<p>{{'contactus'|translate}}</p>
	<br>
	</div>
  	<div class="error-image">
	    <img src="../images/404.jpg" width="313" height="428" alt="404">
	</div>
	<br><br>
	<div class="error-footer">
		<p>{{'copyRight'|translate:dataCoVer}} | <a href="https://greensafety.com.hk/" target="_blank"><font color='black'>{{'GST'|translate}}</font></a> | {{'allRR'|translate}}</p>
	</div>
</div>