<!-- /*
* @Author: Zilvia Kam
* @Date:   2019-04-04 17:39:35
* @Last Modified by:   Zilvia Kam
* @Last Modified time: 2019-06-19 12:25:43
*/ -->
<div class="query-setting-wrap">
	<navbar></navbar>
	<div class="query-wrap">
		<div class="table-content-header">
			<div class="table-content-header-content1">
				<p><b>{{"tripSet"|translate}}</b></p>
			</div>
		</div>
		<div class="query-part">
			<div class="warn-date-range-pick">
				<div class="form-group row no-margin">
					<label class="col-5 col-sm-3 col-md-2 col-lg-2 col-xl-2 col-form-label">{{'startDate'|translate}}</label>
					<div class="col-7 col-sm-9 col-md-10 col-lg-10 col-xl-10">
						<div class="input-group">
							<input type="hidden" ng-model="beforeDate" uib-datepicker-popup close-on-date-selection="true" show-button-bar="false"
							 is-open="beforedate.opened" on-open-focus="false" datepicker-options="bfdateOptions" ng-change="changeRange('before',beforeDate)"
							 popup-placement="auto bottom-left" />
							<span class="input-group-btn">
								<button type="button" class="btn btn-default warn-date-range-pick-btn before" ng-click="openPicker('before')">
									{{beforeDate|date:'yyyy/MM/dd'}}
								</button>
							</span>
						</div>
					</div>
				</div>
				<div class="form-group row no-margin">
					<label class="col-5 col-sm-3 col-md-2 col-lg-2 col-xl-2 col-form-label">{{'endDate'|translate}}</label>
					<div class="col-7 col-sm-9 col-md-10 col-lg-10 col-xl-10">
						<div class="input-group after">
							<input type="hidden" ng-model="afterDate" uib-datepicker-popup close-on-date-selection="true" show-button-bar="false"
							 is-open="afterdate.opened" on-open-focus="false" datepicker-options="afdateOptions" ng-change="changeRange('after',afterDate)"
							 popup-placement="auto bottom-left" />
							<span class="input-group-btn">
								<button type="button" class="btn btn-default warn-date-range-pick-btn after" ng-click="openPicker('after')">
									{{afterDate|date:'yyyy/MM/dd'}}
								</button>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group row no-margin">
				<label class="col-5 col-sm-3 col-md-2 col-lg-2 col-xl-2 col-form-label" ng-hide="lang=='en'&&checkColWidth<172">{{"vehDept"|translate}}<sup ng-click="showExplain=!showExplain"><i
						 class="fa fa-info-circle" aria-hidden="true" role="button" tabindex="0"></i></sup></label>
				<label class="col-5 col-sm-3 col-md-2 col-lg-2 col-xl-2 col-form-label" ng-show="lang=='en'&&checkColWidth<172">Veh. Dept.<sup ng-click="showExplain=!showExplain"><i
						 class="fa fa-info-circle" aria-hidden="true" role="button" tabindex="0"></i></sup></label>
				<div class="col-7 col-sm-9 col-md-10 col-lg-10 col-xl-10">
					<div ng-dropdown-multiselect="" options="dataLabelsDept" selected-model="dataSelectedDept" extra-settings="listDataSelect"
					 translation-texts="listDataSelectTextsDept" events="listDataSelectEventDept" class="query-listdata" ng-if="listDataSelectTextsDept"
					 template-url="/view/component/dropdown-multiselect-profile.html" custom="true"></div>
				</div>
			</div>
			<div class="form-group row no-margin">
				<label class="col-5 col-sm-3 col-md-2 col-lg-2 col-xl-2 col-form-label">{{'licence'|translate}}<sup ng-click="showExplain=!showExplain"><i
						 class="fa fa-info-circle" aria-hidden="true" role="button" tabindex="0"></i></sup></label>
				<div class="col-7 col-sm-9 col-md-10 col-lg-10 col-xl-10">
					<div ng-dropdown-multiselect="" options="dataLabelsVeh" selected-model="dataSelectedVeh" extra-settings="listDataSelect"
					 translation-texts="listDataSelectTextsVeh" events="listDataSelectEventVeh" class="query-listdata" ng-if="listDataSelectTextsVeh"
					 template-url="/view/component/dropdown-multiselect-profile.html" custom="true"></div>
				</div>
			</div>
			<div class="form-group row no-margin">
				<label class="col-5 col-sm-3 col-md-2 col-lg-2 col-xl-2 col-form-label">{{'driverName'|translate}}<sup ng-click="showExplain=!showExplain"><i
						 class="fa fa-info-circle" aria-hidden="true" role="button" tabindex="0"></i></sup></label>
				<div class="col-7 col-sm-9 col-md-10 col-lg-10 col-xl-10">
					<div ng-dropdown-multiselect="" options="dataLabelsDrv" selected-model="dataSelectedDrv" extra-settings="listDataSelect"
					 translation-texts="listDataSelectTextsDrv" events="listDataSelectEventDrv" class="query-listdata" ng-if="listDataSelectTextsDrv"
					 template-url="/view/component/dropdown-multiselect-profile.html" custom="true"></div>
				</div>
			</div>
			<div class="additional-info-box" ng-if="showExplain">
				<i class="fa fa-info-circle" aria-hidden="true" role="button" tabindex="0"></i>
				<div>
					<p><b>N/A</b>: {{'notApplyField'|translate}}</p>
					<p><b>EMPTY</b>: {{'emptyField'|translate}}</p>
				</div>
			</div>
			<button type="button" class="btn btn-primary btn-block query-submit" ng-click="submitQuery()">
				{{'query'|translate}}
			</button>
		</div>
	</div>
	<div st-table="displayedCollection" st-safe-src="realCollection" class="table-wrap" st-filtered="filteredCollection">
		<div class="table-content-header">
			<div class="table-content-header-content1">
				<p><b>{{"tripList"|translate}}</b></p>
			</div>
			<div class="table-content-header-func">
				<div class="table-content-header-content3">
					<div class="input-group table-global-search">
						<span class="input-group-addon" id="sizing-addon2"><i class="fa fa-search" aria-hidden="true"></i></span>
						<input st-search="" class="form-control" placeholder="{{'search'|translate}}" type="text" aria-describedby="sizing-addon2"
						 autocomplete="off" />
					</div>
				</div>
				<div class="table-content-header-content2">
					<button type="button" ng-csv="getcsvData(filteredCollection)" lazy-load="true" csv-header="getcsvHeader()"
					 csv-column-order="excelOrder" filename="{{'tripSet'|translate}}.csv" ng-disabled="filteredCollection.length<=0"
					 add-bom="true" class="btn btn-md btn-setting-table">
						<i class="fa fa-download" aria-hidden="true"></i>
					</button>
					<button type="button" ng-click="refreshList()" class="btn btn-md btn-setting-table">
						<i class="fa fa-refresh" aria-hidden="true"></i>
					</button>
				</div>
			</div>
		</div>
		<div class="ng-table-content trip-table">
			<table class="table table-striped" ng-if="!loading">
				<thead>
					<tr>
						<th st-sort="tripId" st-skip-natural="true">{{"tripID"|translate}}</th>
						<th st-sort="start_time" st-skip-natural="true" st-sort-default="reverse">{{"startTime"|translate}}</th>
						<th st-sort="end_time" st-skip-natural="true">{{"endTime"|translate}}</th>
						<th st-sort="vehicle" st-skip-natural="true">{{"vehicle"|translate}}</th>
						<th st-sort="vehDepart" st-skip-natural="true">{{"vehDept"|translate}}</th>
						<th st-sort="driver" st-skip-natural="true">{{"driver"|translate}}</th>
						<th st-sort="drvDepart" st-skip-natural="true">{{"drvDept"|translate}}</th>
						<th st-sort="distance" st-skip-natural="true">{{"mileage"|translate}}</th>
						<th st-sort="avgspeed" st-skip-natural="true">{{"avgspeed"|translate}} (kph)</th>
						<th st-sort="updateBy" st-skip-natural="true">{{"lastUpdateBy"|translate}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="row in displayedCollection">
						<td>{{row.tripId}}</td>
						<td>{{row.start_time}}</td>
						<td>{{row.end_time}}</td>
						<td>{{row.vehicle}}</td>
						<td>{{row.vehDepart}}</td>
						<td class="edit-item">
							<div>{{row.driver}}</div><i class="fa fa-pencil edit-point" ng-click="editDriver($event,row.tripId)"></i>
						</td>
						<td>{{row.drvDepart}}</td>
						<td class="right">{{row.distance}} {{'km'|translate}}</td>
						<td class="right">{{row.avgspeed}}</td>
						<td>{{row.updateBy}}</td>
					</tr>
					<tr ng-if="displayedCollection.length<=0">
						<td colspan="10" style="text-align: center;">{{"noRecord"|translate}}</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="10">
							<form class="form-inline pull-left">
								<p class="table-page-footer table-footer-text">{{"showing"|translate}}</p>
								<div class="table-pagination-select">
									<select class="table-page-footer" ng-model="itemsByPage" convert-to-number>
										<option value='10'>10</option>
										<option value='25'>25</option>
										<option value='50'>50</option>
										<option value='100'>100</option>
									</select></div>
								<p class="table-page-footer table-footer-text">{{"recordperPage"|translate}}</p>
							</form>
							<div st-template="/view/component/paginationSummary.html" st-pagination="" st-items-by-page="itemsByPage"
							 st-displayed-pages="displayPage"></div>
						</td>
					</tr>
					<tr>
						<td colspan="10">
							<div st-template="/view/component/pagination.html" st-pagination="" st-items-by-page="itemsByPage"
							 st-displayed-pages="displayPage"></div>
						</td>
					</tr>
				</tfoot>
			</table>
			<div ng-if="loading" class="load-data">
				<img src="../images/loading.gif" width="56px" height="56px">
				<p>{{'loadingData'|translate}}</p>
			</div>
		</div>
	</div>
</div>