/*
* @Author: Zilvia Kam
* @Date:   2019-04-04 17:39:22
* @Last Modified by:   Zilvia Kam
* @Last Modified time: 2019-05-31 15:46:12
*/

/* faicon-fix.css
 * This file provides Fa Icon stack replacement styles.
 */

.icon-stack{
	position: relative;
	width: 12px;
	display: inline-block;
	height: 12px;
	line-height: 1rem;
}

.icon-stack > .icon-stack-normal{
	position: absolute;
}