/*
* @Author: Zilvia Kam
* @Date:   2019-08-15 10:30:51
* @Last Modified by:   Zilvia Kam
* @Last Modified time: 2019-09-18 16:37:32
*/

/* monitor.css
 * This file provides css styles in for live monitor page.
 */

.monitor-wrap {
	height: 100%;
}

.monitor-wrap .monitor-header-sm{
	background-color: rgba(97, 97, 97, 0.9411764705882353);
	color: white;
	text-align: center;
	padding: 2px;
	display: none;
}

.monitor-wrap .monitor-header {
	border: 1px solid #9E9E9E;
    margin: 5px;
    margin-top: 10px;
    padding-top: 0.5rem;
    border-radius: 5px;
	text-align: left;
	display: block;
	-webkit-user-select: none;
	/* Chrome/Safari */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* IE10+ */
	-o-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	/* iOS Safari */
	-khtml-user-select: none;
	/* Konqueror HTML */
}

.monitor-wrap .monitor-header:focus{
	outline: none;
}

.monitor-wrap .monitor-header .row {
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 8px;
}

.monitor-wrap .monitor-header .row>div {
	padding-right: 1rem;
}

.monitor-wrap .monitor-header .row label {
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 1rem;
	padding-right: 0;
}

.monitor-wrap .monitor-header .profile-listdata>div,
.monitor-wrap .monitor-header .profile-listdata>div>div {
	width: 100%;
}

.monitor-wrap .monitor-header .profile-listdata>div>div>.profile-list-select {
	width: 100%;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-image: none;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	padding: 0 0.75rem;
	height: 26px !important;
	cursor: pointer;
	text-align: left;
	background: #ffffff url(../images/arrow-down.png) no-repeat 100% 50%;
}

.monitor-wrap .monitor-header .profile-listdata>div>div>.profile-list-select::after {
	display: none;
}

.monitor-wrap .monitor-header .profile-listdata>div>div>.profile-list-select>span {
	display: none;
}

.monitor-wrap .monitor-header .profile-listdata>div>div>.profile-list-select:focus,
.pro-wrap .profile-body st-select-distinct select:focus {
	outline: none;
}

.monitor-wrap .monitor-header .profile-listdata>div>.dropdown-menu {
	max-height: 350px;
	width: 100%;
	padding-bottom: 4px;
	min-width: 266px;
	right: 0;
	left: auto;
}

.monitor-wrap .monitor-header .profile-listdata>div>.dropdown-menu>li>.dropdown-header {
	padding: 0 8px 4px 8px;
}

.monitor-wrap .monitor-header .profile-listdata>div>.dropdown-menu>li>.dropdown-header>input {
	height: 26px;
}

.monitor-wrap .monitor-header .profile-listdata>div>.dropdown-menu>li>.dropdown-header>input:focus {
	border-color: #ced4da;
	outline: none;
	box-shadow: none;
}

.monitor-wrap .monitor-header .profile-listdata>div>.dropdown-menu>li.divider {
	background-color: #e5e5e5;
	height: 1px;
	margin-bottom: 4px;
}

.monitor-wrap .monitor-header .profile-listdata>div>.dropdown-menu>div.option-list {
	padding: 0 8px;
}

.monitor-wrap .monitor-header .profile-listdata>div>.dropdown-menu>div.option-list>.vertical-container {
	height: 300px;
}

.monitor-wrap .monitor-header .profile-listdata>div>.dropdown-menu>div.option-list>.vertical-container .md-virtual-repeat-sizer {
	height: 10px;
}

.monitor-wrap .monitor-header .profile-listdata>div>.dropdown-menu>div.option-list li:hover {
	background-color: #3597ff;
}

.monitor-wrap .monitor-header .profile-listdata>div>.dropdown-menu>div.option-list li:hover>a {
	color: #fff;
}

.monitor-wrap .monitor-header .profile-listdata>div>.dropdown-menu>div.option-list .vertical-container li {
	height: 21px;
	box-sizing: border-box;
}

.monitor-wrap .monitor-header .profile-listdata>div>.dropdown-menu>div.option-list li>a {
	display: block;
	padding: 0 4px;
	clear: both;
	font-weight: 400;
	line-height: 1.428571429;
	color: #333;
	white-space: nowrap;
	text-decoration: none;
	font-size: 15px;
	cursor: pointer;
}

.monitor-wrap .monitor-header .profile-listdata>div>.dropdown-menu>div.option-list li>a>span.glyphicon {
	display: none;
}

.monitor-wrap .checkbox-custom{
	margin-bottom: 0;
    height: 26px;
}

.monitor-wrap .checkbox-custom .md-label{
	margin-left: 25px;
}

.monitor-wrap .checkbox-custom:last-child{
	margin-right: 0;
}

.monitor-wrap .checkbox-custom .md-icon{
	transform: scale(.7);
}

.monitor-wrap .checkbox-custom.md-checked .md-icon{
	background-color: #007bff !important;
	border-color: #007bff;
}

.monitor-wrap .monitor{
	border-radius: 5px;
    position: relative;
    /* margin: 5px; */
    /* width: calc( 100% - 10px ); */
    /* height: 56.25vw; */
    /* min-height: 300px; */
    /* max-height: calc( 100vh - 151px - 0.5rem ); */
    display: block;
    margin: 5px auto;
    width: calc( 100vw - 10px );
    min-width: 290px;
    max-width: calc( 177.78vh - 170px );
    height: 56.25vw;
    min-height: 163.125px;
    max-height: calc( 100vh - 170px );
}

.monitor-wrap .monitor-not-support{
	text-align: center;
	margin-top: 30px;
}

@media screen and (-ms-high-contrast:none) {
	.monitor-wrap .monitor-header select {
		padding-right: 1rem;
	}
}

@media screen and (max-width: 745px){
	.monitor-wrap .monitor-header-sm{
		display: block;
	}
}