/*
* @Author: Zilvia Kam
* @Date:   2019-04-04 17:39:22
* @Last Modified by:   Zilvia Kam
* @Last Modified time: 2019-05-31 15:47:25
*/

/* orgchart.css
 * This file provides css styles in orgchart page.
 */

.orgchart-wrap{
	height: 100vh;
}

.orgchart-table-wrap{
	border-top: 1px solid #cecece;
	border-left: 1px solid #cecece;
	border-right: 1px solid #cecece;
	border-radius: 5px 5px 5px 5px;
	margin: 5px;
	height: calc( 100% - 58px );
}

.orgchart-content-header{
	width: 100%;
	background-color: #616161f0;
	background-color: rgba(97, 97, 97, 0.9411764705882353);
	overflow: hidden;
	float: left;
	color: white;
	-webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    -o-user-select: none;
    user-select: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -khtml-user-select: none; /* Konqueror HTML */
}

.orgchart-content-header-func{
	float: right;
	display: inline-block;
	background-color: transparent;
	white-space: nowrap;
}

.orgchart-content-header-content1{
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
	min-width: 222px;
}

.orgchart-content-header-content2{
	margin-right: 10px;
	display: inline-block;
	white-space: nowrap;
	line-height: 52px;
	vertical-align: top;
}

.orgchart-content-header-content2 button{
	vertical-align: top;
	margin-top: 7.5px;
}

.orgchart-content-header-content2 button:focus{
	outline: none;
	box-shadow: none;
}

.orgchart-content-header-content3{
	max-width: 200px;
	display: inline-block;
	line-height: 52px;
	white-space: nowrap;
}

.orgchart-content-header-content1 p{
	margin-top: .5rem !important;
	margin-bottom: .5rem !important;
	font-size: 1.5rem;
	font-weight: 500;
	height: 1.2;
	font-family: inherit;
	color: inherit;
}

.orgchart-container{
	width: 100%;
	overflow: auto;
	background: #fff;
}

.orgchart-container > .orgchart-custom{
	min-width: 100% !important;
	background: #fff !important;
}

.orgchart-container > .orgchart-custom .node{
	width: 160px;
}

.orgchart-container > .orgchart-custom .node:hover,
.orgchart-container > .orgchart-custom .node.focused{
	background-color: rgba(0, 102, 153, 0.15);
}

.orgchart-container > .orgchart-custom .node .content{
	height: 100%;
	border-color: #006699;
    padding: 5px;
}

.orgchart-container > .orgchart-custom .lines .rightLine{
	border-right: 1px solid #000;
}

.orgchart-container > .orgchart-custom .lines .leftLine{
	border-left: 1px solid #000;
}

.orgchart-container > .orgchart-custom .lines .topLine{
	border-top: 2px solid #000;
}

.orgchart-container > .orgchart-custom .lines .downLine{
	background-color: #000;
}

.orgchart-container > .orgchart-custom .node .title{
	background-color: #006699;
}

.orgchart-container > .orgchart-custom .node .title .symbol{
	float: unset !important;
    margin-top: unset !important;
    margin-left: unset !important;
}

.orgchart-container > .orgchart-custom .node .content button:active,
.orgchart-container > .orgchart-custom .node .content button:focus{
	outline: none;
	box-shadow: none;
}

.orgchart-container > .orgchart-custom .node .content button{
	padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    margin-right: 4px;
}

.orgchart-container > .orgchart-custom .node .content button.right{
	margin-right: 0px;
}

.orgchart-container > .orgchart-custom .node .content p.detail{
    text-align: left;
    white-space: normal;
    word-break: break-all;
}

.orgchart-container > .orgchart-custom .node .content p.detail:not(.titletext){
    font-size: 14px;
    margin-bottom: 4px;
}

.orgchart-container > .orgchart-custom .node .content p.detail.titletext{
	font-size: 12px;
	text-decoration: underline;
	margin-bottom: 0;
}

.orgchart-container > .orgchart-custom .node .content p.groupname{
	margin-bottom: 0;
    font-size: 18px;
    font-weight: 700;
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    cursor: pointer;
}

.orgchart-container > .orgchart-custom .node .content p.groupname:focus{
	outline: none;
}

.orgchart-container > .orgchart-custom .node .content hr{
	margin-bottom: 5px;
    margin-top: 5px;
}

.orgchart-container > .orgchart-custom .node .edge{
	color: #000;
}

.orgchart-container > .mask{
	display: none;
}

@media screen and (max-width: 450px){
	.table-global-search{
		min-width: 150px;
	}
	.orgchart-content-header-content3{
		max-width: 150px;
	}
}

@media screen and (max-width: 745px){
	.orgchart-content-header-func{
	  float: left;
	  margin-top: -15px;
	  display: block;
	  margin-left: 20px;
	}
	.orgchart-content-header-content1{
		display: block;
	}
	.orgchart-content-header-content2{
		margin-right: 0px;
	}
}

@media screen and (max-width: 332px){
	.orgchart-content-header-func{
	  margin-left: 10px;
	}
	.orgchart-content-header-content1{
	  margin-left: 10px;
	}
}

@media screen and (max-width: 319px){
	.orgchart-content-header-func{
	  margin-left: 5px;
	}
	.orgchart-content-header-content1{
	  margin-left: 5px;
	}
}